body, html { 
    height: 100%;
    font-family: 'Oswald', sans-serif;
  }
.background{
    background-image: url(pictures/landing.jpeg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.land-page{
    padding-top: 18%;
}
.name{
    font-size: 100px;
    color: rgb(199, 59, 71);
}
.backtext{
    color: white;
}
.social a{
    font-size: 50px;
    padding: 15px;
}
.fab-twitter{
    color: #007bff;
}

.foot{
    padding-top: 10px;
}

.rowspace{
    padding: 15px;
}