body, html { 
    height: 100%;
    font-family: 'Oswald', sans-serif;
  }
.background{
    background-image: url(pictures/landing.jpeg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    font-size: 25px;
}
.land-page{
    padding-top: 18%;
}
.name{
    font-size: 100px;
    color: rgb(199, 59, 71);
}
.backtext{
    color: white;
}
.social a{
    font-size: 50px;
    padding: 15px;
}
.fab-twitter{
    color: #007bff;
}
a:hover{
    text-decoration: none;
}
.foot{
    padding-top: 10px;
}

.rowspace{
    padding: 15px;
}


/* ABOUT PAGE*/
.parallax {
    background-image: url("pictures/white-banner.PNG");
    min-height: 300px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

  }
hr{
    border-top: 2px solid black;
    width: 44%;
    margin-bottom: 1rem;
    margin-top: -.3rem
}
